<div id="form" style="display: <%= html ? "none" : "block" %>">
  <h2>HTML Debugger</h2>
  <textarea id="html_text">Give me your HTML</textarea>
  <div id="buttons">
    <button id="preview_btn">Preview</button>
    <button id="submit_btn">Submit</button>
  </div>
</div>