<!DOCTYPE html>
<html>
  <head>
    <title><%= TITLE %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.7/purify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>
  <body>