<div id="preview" style="display: <%= html ? "block" : "none" %>">
  <pre id="html"></pre>
  <button id="close_btn">
    <svg width="12" height="12" viewBox="-1 -1 2 2">
      <path d="M-1,1 1,-1 M1,1 -1,-1" stroke="white" stroke-width="0.15"/>
    </svg>
  </button>
</div>